body {
  font-family: Arial, sans-serif;
  background-color: #310014; /* rosa claro */
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: #310014; /* rosa mais forte */
  color: white;
  padding: 20px;
}

#carrinho-total {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ff66b2;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
}

.produto {
  display: inline-block;
  margin: 20px;
  text-align: center;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.produto img {
  border-radius: 10px;
  transition: transform 0.3s;
}

.produto img:hover {
  transform: scale(1.05);
}

button {
  background-color: #ff66b2;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ff3385;
}

p{
    text-align: center;
  background-color: #310014; /* rosa mais forte */
  color: white;
  padding: 20px;
}
